button {
	font-size: 1.2rem;
	transition: all 0.4s ease;
	font-weight: 600;
	margin: .25em 0;
	padding: 0.4em 1.2em;
	border-radius: 30px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: #000a42;
	color:white;
}

button:hover {
	transform: scale(0.9);
	background-color: #FFF2E2;
	color:#C41130;
	border:2px solid #000a42;

}

.more-button {
    background-color: #C41130;
}